################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FunBooksAndVideos/obj
/FunBooksAndVideos/bin
/FunBooksAndVideos.UnitTests/bin
/FunBooksAndVideos.UnitTests/obj
/.learningtransport
/FunBooksAndVideos.IntTests/bin/Debug/net8.0
/FunBooksAndVideos.IntTests/obj
