################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FunBooksAndVideos/obj
/FunBooksAndVideos/bin/Debug/net8.0
